.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: 100%;
}

/* .navbar {
  display: flex;
  align-items: center;
}

.navbar-right {
  float: right;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
.navbar {
  padding-bottom: 60px;
}
.left-nav {
  display: block;
  float: left;
  padding: 5px;
  margin: 0 5px;
}

.right-nav {
  display: block;
  float: right;
  padding: 5px;
  margin: 0 5px;
}

li a {
  text-decoration: none;
  color: #222;
  font-family: arial, sans-serif;
  font-size: 14px;
  padding: 5px;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}
.search-bar {
  font-size: 16px;
  flex: 1;
  margin-left: 10px;
  border: 0;
}
.search-container input:focus {
  outline-width: 0;
}
.search-container:hover {
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
  border-color:rgba(223,225,229,0);
}
.search-container {
  display: flex;
  align-items: center;
  width: 550px;
  height: 29px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 24px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.search-container i {
  color: #dfe1e5;
}

.submit-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}
.submit-button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  line-height: 27px;
  height: 36px;
  margin: 11px 4px;
  padding: 0 16px;
  text-align: center;
  cursor: pointer;
}
.submit-button:hover {
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
  border-color:rgba(223,225,229,0);
}
